name: any-pr

on: [pull_request]

jobs:
  build_test:
    name: Build test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build and test
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn license:check
      - run: yarn build
      - run: yarn test --coverage
